<div class="container">
    <div class="form-page">
        <div class="titlepage">
            <p> Segregated Funds</p>
        </div>
        <form #myForm="ngForm" (ngSubmit)="getSegregatedFundResults()" (load)="log(myForm)">
            <div class="row" style="padding-top: 25px">
                <div class="col">
                    <label for="date">Date:</label>
                    <input id="date" class="form-control" type="date" [(ngModel)]="inputClass!.currentDate"
                        name="currentDate" />
                </div>
                <div class="col">
                    <label for="clientName">Client Name:</label>
                    <input type="text" class="form-control" [(ngModel)]="inputClass!.clientName" name="clientName"
                        id="clientName" #clientName="ngModel" required>
                    <div class="error" *ngIf="clientName.touched && !clientName.valid">*Client name is required.</div>
                </div>
                <div class="col">
                    <label for="advisors">Advisors:</label><br>
                    <select class="form-control" name="advisors" [(ngModel)]="inputClass!.advisors"
                        data-live-search="true" #advisorsCheck="ngModel" required>
                        <option disabled selected>Select</option>
                        <option *ngFor="let advisor of advisors">{{ advisor.name }}</option>
                    </select>
                    <div class="error" *ngIf="advisorsCheck.touched && !advisorsCheck.valid">*Please select an Advisor.
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="row section-3">
                <div class="col">
                    <label>Carrier:</label>
                    <select class="form-control" [(ngModel)]="inputClass!.carrier" #carrierInput="ngModel"
                        name="carrier" required>
                        <option disabled selected>Select</option>
                        <option *ngFor="let carrierInfo of carrier" [value]="carrierInfo.name">{{ carrierInfo.name }}
                        </option>
                    </select>
                    <div class="error" *ngIf="carrierInput.touched && !carrierInput.valid">*Please select a Carrier.
                    </div>
                </div>
                <div class="col">
                    <label>Maturity Date Guarantee:</label>
                    <select class="form-control" [(ngModel)]="inputClass.maturity" #maturityDateInput="ngModel"
                        name="Maturity" required>
                        <option disabled selected>Select</option>
                        <option *ngFor="let maturityInfo of maturity" [value]="maturityInfo.maturityDate">{{
                            maturityInfo.maturityDate}}</option>
                    </select>
                    <div class="error" *ngIf="maturityDateInput.touched && !maturityDateInput.valid">*Please select
                        maturity date.
                    </div>
                </div>
                <div class="col">
                    <label>Death Benefit Guarantee:</label>
                    <select class="form-control" [(ngModel)]="inputClass.deathPercentage" #deathBeneifitInput="ngModel"
                        name="selectedDeathPercentage" required>
                        <option disabled selected>Select</option>
                        <option *ngFor="let selectedDeathPercentageInfo of deathPercentage">{{
                            selectedDeathPercentageInfo.percent}}</option>
                    </select>
                    <div class="error" *ngIf="deathBeneifitInput.touched && !deathBeneifitInput.valid">*Please select
                        maturity date.
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col">
                    <label>Sales Charge options:</label>
                    <select class="form-control" [(ngModel)]="inputClass.salescharge" #saleChargeOptionsInput="ngModel"
                        name="selectedCharge" required>
                        <option disabled selected>Select</option>
                        <option *ngFor="let salescharges of salescharge">{{ salescharges.salescharge}}</option>
                    </select>
                    <div class="error" *ngIf="saleChargeOptionsInput.touched && !saleChargeOptionsInput.valid">*Please
                        select a sales charge option.
                    </div>
                </div>
                <div class="col">
                    <label>Percentage :</label>
                    <input type="number" class="form-control" [(ngModel)]="inputClass.commissionPercent"
                        #investmentPercentage="ngModel" name="commissionPercent" id="commissionPercent" required>
                    <div class="error" *ngIf="investmentPercentage.touched && !investmentPercentage.valid">*Please enter
                        a Investment Percentage.
                    </div>
                </div>
                <div class="col">
                    <label>Time Horizon:</label>
                    <select class="form-control" [(ngModel)]="inputClass.selectedTimeHorizon"
                        #timeHorizonInput="ngModel" name="selectedTimeHorizon" value="Select" required>
                        <option disabled selected>Select</option>
                        <option *ngFor="let timeHorizons of timeHorizon">
                            {{ timeHorizons.horizontime}}
                        </option>
                    </select>
                    <div class="error" *ngIf="timeHorizonInput.touched && !timeHorizonInput.valid">*Please select a Time
                        Horizon.
                    </div>
                </div>
            </div>
            <hr>
            <div class="Summarized-section">
                <label>Summarized from our discussion, here are the key facts about your situation:</label>
            </div>
            <div class="row">
                <div class="col">
                    <label>Investment Amount:</label>
                    <input type="number" class="form-control" placeholder="Enter Amount" [(ngModel)]="inputClass.amount"
                        #investmentAmountInput="ngModel" name="investmentAmount" required>
                    <div class="error" *ngIf="investmentAmountInput.touched && !investmentAmountInput.valid">*Please
                        enter Investment Amount.
                    </div>
                </div>
                <div class="col">
                    <label>Risk Tolerance:</label>
                    <select class="form-control" [(ngModel)]="inputClass!.risktoleranceSelect"
                        #riskToleranceInput="ngModel" name="risktoleranceSelect" required>
                        <option *ngFor="let risktoleranceInfo of risktolerance"
                            [value]="risktoleranceInfo.risktolerance">
                            {{ risktoleranceInfo.risktolerance }}
                        </option>
                    </select>
                    <div class="error" *ngIf="riskToleranceInput.touched && !riskToleranceInput.valid">*Please select a
                        risk tolernace.
                    </div>
                </div>
                <div class="col">
                    <label>Investment Purpose:</label>
                    <select class="form-control" [(ngModel)]="inputClass!.investmentPurposeSelect"
                        #investmentPurposeInput="ngModel" name="investmentPurposeSelect" required>
                        <option *ngFor="let investmentPurposeInfo of investmentpurpose"
                            [value]="investmentPurposeInfo.investmentPurpose">
                            {{ investmentPurposeInfo.investmentPurpose }}
                        </option>
                    </select>
                    <div class="error" *ngIf="investmentPurposeInput.touched && !investmentPurposeInput.valid">*Please
                        select your investment purpose.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" *ngIf="inputClass?.investmentPurposeSelect === 'Other'">
                    <label for="OtherInvestmentPurpose">Other Investment Purposes:</label>
                    <input type="text" class="form-control" id="OtherInvestmentPurpose_id" name="OtherInvestmentPurpose"
                        [(ngModel)]="inputClass.OtherInvestmentPurpose">
                </div>
            </div>
            <hr>
            <div *ngFor="let section of sections; let i = index">
                <div class="row">
                    <div class="col">
                        <label for="field1{{ i }}">Field 1:</label>
                        <ng-select
                          class="form-control"
                          [(ngModel)]="section.field1"
                          name="field1{{ i }}"
                          [searchable]="true">
                          <ng-option *ngFor="let InvestmentOptionInfo of InvestmentPercent" [value]="InvestmentOptionInfo.investmentoption">
                            {{ InvestmentOptionInfo.investmentoption }}
                          </ng-option>
                        </ng-select>
                      </div>
                    <div class="col">
                        <label for="field2{{ i }}">Field 2:</label>
                        <input type="text" class="form-control" id="field2{{ i }}" [(ngModel)]="section.field2"
                            name="field2{{ i }}" />
                    </div>
                    <div class="col">
                        <label></label><br>
                        <button type="button" class="btn btn-md btn-danger"
                            (click)="removeSection(i)">Remove</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                  <label></label><br>
                  <button type="button" class="btn btn-md btn-success" (click)="addSection()">Add</button>
                </div>
              </div>
            <hr>
            <div class="row">
                <div class="col purchaseVerificationCheckbox">
                    <label for="purchaseVerification">You purchased the product because:</label><br>
                </div>
                <div class="purchaseVerificationCheckbox">
                    <input class="form-check-input" type="checkbox" value="" id="purchaseVerificationCheckbox_id"
                        [(ngModel)]="inputClass.purchaseVerificationCheckbox" #purchaseVerificationCheckbox="ngModel"
                        name="purchaseVerificationCheckbox" required>
                    <label class="form-check-label">
                        This plan guarantees your deposits at a future maturity date and a death benefit with no medical
                        requirements. It provides potential protection from creditors and the ability to name a
                        beneficiary to ensure privacy.
                    </label>
                    <div *ngIf="!purchaseVerificationCheckbox.valid" class="alert alert-danger" role="alert">
                        You have not selected the checkbox to confirm your decision for the plan. Ensure you review and
                        mark the checkbox to guarantee your deposits, secure the death benefit, protect against
                        creditors, and designate a beneficiary for added privacy.
                    </div>
                </div>
            </div>
            <div class="row next-button">
                <div class="example-button-row">
                    <button mat-raised-button class="full-width" (click)="log(myForm)"
                        [disabled]="myForm.invalid">Next</button>
                </div>
            </div>
        </form>
    </div>
</div>