

.container {
    background-color: #2088d3;
    margin-top: 50px;
    border-radius: 25px;
    padding-bottom: 25px;

}
.error{
    color: red;

}

.form-control.ng-pristine.ng-invalid.ng-touched{
    border-left: 5px solid red;

}
.row, .next-button{
    padding-top: 15px;
}
.form-control, .form-select {
    width:100%;
    box-sizing:border-box;
}
.custom-checkbox{
    margin: 10px ;
}
.form-check-label{
    padding-top: 5px;
}
.form-check-input{
    margin: 5px;
}
.form-control {
    padding-top: 15px;
}

.form-control {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

.example-button-row button,
.example-button-row a {
    background-color: #9acb3c;

}

.example-disabled {
    display: inline-block;
}

.full-width {
    width: 100%;
}

.titlepage {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    padding-top: 25px;
}


.checkbox-label {
    padding-top: 05px;
    padding-left: 10px;
    color: white;
    font-size: large;
}

.section-3 {
    padding-top: 15px;
}

.Summarized-section {
    color: white;
    font-size: large;
    padding-top: 10px;
}

.purchaseVerificationCheckbox{
    display: flex;
    align-items: center;
    color: white;
    font-size: large;
}
.PurposeOfInvestment{
    font-size: large;
    padding-bottom: 15px;
    font-size: large;
    color: white;
}
.row.PurposeOfInvestment{
    padding-top: 10px;

}
.Summarized-section{
    padding-top: 10px;
}
.SegregatedFundCheckbox{
    display: flex;
    align-items: center;
    color: white;
    font-size: large;
}
.SegregatedFundCheckboxLabel{
    display: flex;
    align-items: center;
    color: white;
    font-size: large;
}
.ng-select-disabled > .ng-select-container {
    color: red;
  }