.container.SegregatedFundSummary{
    background-color:#2088D3;
    margin-top: 50px;
    border-radius: 15px;
}
.SegregatedFundHeader{
    text-align: center;
    color: black;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 5px;
}
.SegregatedFundLead{
    text-align: center;
    color: black;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.mainrow{
    
    color: white;
    font-size: large;
}
.label{
    font-weight: bold;
}
.example-button-row button,
.example-button-row a {
    background-color: #9acb3c;
    margin-bottom: 15px;
}
.submit-button{
    float: right;
}
