.container.SegregatedFundSummary{
    background-color:#2088D3;
    margin-top: 50px;
    border-radius: 15px;
}
.SegregatedFundHeader{
    text-align: center;
    color: black;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 5px;
}
.SegregatedFundLead{
    text-align: center;
    color: black;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.mainrow{
    
    color: white;
    font-size: large;
}
.label{
    font-weight: bold;
}
.example-button-row {
    display: flex;
    justify-content: space-between;
    padding-top: 82px;
  }
  
  .submit-button {
   padding-top: 82px; 
  }