<div class="container">
    <div class="form-page">
        <div class="titlepage">
            <p> Reason Why Segregated Funds</p>
        </div>
        <div class="row" style="padding-top: 25px">
            <div class="col">
                <label for="date">Date:</label>
                <input id="date" class="form-control" type="date" [(ngModel)]="segDataClass!.currentDate"  value="{{getCurrentDate()}}" />
            </div>
            <div class="col">
                <label for="clientName">Client Name:</label>
                <input type="text" class="form-control" [(ngModel)]="segDataClass!.clientName" name="clientName">
            </div>
            <div class="col">
                <label for="advisors">Advisors:</label><br>
                <select class="form-select" name="advisors" [(ngModel)]="segDataClass!.advisors" name="selectedadvisors"
                    data-live-search="true">
                    <option *ngFor="let advisor of advisors">{{ advisor.name }}</option>
                </select>
            </div>
    <div class="example-button-row">
        <button mat-raised-button class="full-width" (click)="getSegregatedFundResults()">Next</button>
    </div>
</div>
<!-- <section class="example-section" [formGroup]="Investments">
    {{Investments.value | json}}
</section> -->