.container {
    background-color: #e3f2fd;
    margin-top: 50px;
    border-radius: 25px;
    padding-bottom: 25px;
}

.example-form {
    padding-top: 15px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

.example-button-row button,
.example-button-row a {
    background-color: #9acb3c;

}

.example-disabled {
    display: inline-block;
}

.full-width {
    width: 100%;
}

.titlepage {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    padding-top: 25px;

}