<div class="container">
    <div class="form-page">
        <div class="titlepage">
            <p> Reason Why Segregated Funds</p>
        </div>
        <div class="row" style="padding-top: 25px">
            <div class="col">
                <mat-form-field class="example-full-width">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" [formControl]="currentDateTime">
                    <mat-hint class="example-full-width">MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="example-full-width">
                    <mat-label>Advisor Name:</mat-label>
                    <mat-select [(ngModel)]="selectedUser" name="selectedUser">
                        <mat-option *ngFor="let user of users" [value]="user.name">
                            {{ user.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="example-full-width">
                    <mat-label>Client Name</mat-label>
                    <input matInput placeholder="Ex. John Doe">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="example-full-width">
                    <mat-label>Carrier:</mat-label>
                    <mat-select [(ngModel)]="selectedCarrier" name="selectedCarrier">
                        <mat-option *ngFor="let carrierInfo of carrierData" [value]="carrierInfo.name">
                            {{ carrierInfo.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="example-full-width">
                    <mat-label>Investment Amount:</mat-label>
                    <input matInput [formControl]="currencyControl" placeholder="Enter Amount">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="example-full-width">
                    <mat-label>Advisor Name:</mat-label>
                    <mat-select>
                        <mat-option *ngFor=""></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="example-button-row">
        <button mat-raised-button class="full-width">Submit</button>
    </div>
</div>