<div class="container">
    <div class="form-page">
        <div class="titlepage">
            <p> Reason Why Segregated Funds</p>
        </div>
        <div class="row" style="padding-top: 25px">
            <div class="col">
                <label for="date">Date:</label>
                <input id="date" class="form-control" type="date" [(ngModel)]="segDataClass.currentDate"  value="{{getCurrentDate()}}" />
            </div>
            <div class="col">
                <label for="clientName">Client Name:</label>
                <input type="text" class="form-control" [(ngModel)]="segDataClass!.clientName" name="clientName">
            </div>
            <div class="col">
                <label for="advisors">Advisors:</label><br>
                <select class="form-select" name="advisors" [(ngModel)]="selectedAdvisor" name="selectedadvisors"
                    data-live-search="true">
                    <option *ngFor="let advisor of advisors">{{ advisor.name }}</option>
                </select>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col checkbox">
                <label class="checkbox-label">This summary is intended to highlight key information about your recent
                    purchase. Based on our discussions you purchased the following product:</label><br>
                <mat-checkbox class="custom-checkbox" [(ngModel)]="checked">Segregated Fund</mat-checkbox>
            </div>

        </div>
        <div class="row section-3">
            <div class="col">
                <label>Carrier:</label>
                <select class="form-control" [(ngModel)]="selectedCarrier" name="selectedCarrier">
                    <option *ngFor="let carrierInfo of carrier" [value]="carrierInfo.name">
                        {{ carrierInfo.name }}
                    </option>
                </select>
            </div>
            <div class="col">
                <label>Investment Amount:</label>
                <input type="number" class="form-control" [formControl]="currencyControl" placeholder="Enter Amount">
            </div>
            <div class="col">
                <label>Maturity Date Guarantee:</label>
                <select class="form-control" [(ngModel)]="selectedMaturity" name="selectedMaturity">
                    <option *ngFor="let maturityInfo of maturity" [value]="maturityInfo.maturityDate">
                        {{ maturityInfo.maturityDate}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Death Benefit Guarantee:</label>
                <select class="form-control" [(ngModel)]="selectedDeathPercentage" name="selectedDeathPercentage">
                    <option *ngFor="let selectedDeathPercentageInfo of deathPercentage">
                        {{ selectedDeathPercentageInfo.percent}}
                    </option>
                </select>
            </div>
            <div class="col">
                <label>Sales Charge options chose:</label>
                <select class="form-control" [(ngModel)]="selectedCharge" name="selectedCharge">
                    <option *ngFor="let salescharges of salescharge">
                        {{ salescharges.salescharge}}
                    </option>
                </select>
            </div>
            <div class="col">
                <label>Percentage :</label>
                <select class="form-control" placeholder="Enter Amount">
                </select>

            </div>
            <div class="col">
                <label>Time Horzion:</label>
                <select class="form-control">

                </select>
            </div>
        </div>
        <div class="Summarized-section">
            <label>Summarized from our discussion, here are the key facts about your situation:</label>
        </div>
        <div class="row">
            <div class="col">
                <label>Option:</label>
                <input class="form-control">
            </div>
            <div class="col">
                <label>Amount:</label>
                <select class="form-control" [(ngModel)]="amountSelect" name="selectedAmount">
                    <option *ngFor="let amountInfo of amount" [value]="amountInfo.amount">
                        {{ amountInfo.amount}}
                    </option>
                </select>
            </div>
            <div class="row PurposeOfInvestment">
                <div class="col">
                    <div class="investmentCheckboxes">
                        <p>Purpose of investment:
                        <p>
                        <section class="custom-checkbox" [formGroup]="Investments">
                            <mat-checkbox formControlName="savings">Savings</mat-checkbox>
                            <mat-checkbox formControlName="estateplanning">Estate Planning</mat-checkbox>
                            <mat-checkbox formControlName="retirement">Retirement</mat-checkbox>
                            <mat-checkbox formControlName="education">Education</mat-checkbox>
                            <mat-checkbox formControlName="other" [(ngModel)]="isChecked" (change)="toggleInputField()">Other</mat-checkbox>
                            <div *ngIf="isChecked">
                                <label>Other</label>
                                <input class="form-control" placeholder="Other">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="example-button-row">
        <button mat-raised-button class="full-width" (click)="getSegregatedFundResults()">Next</button>
    </div>
</div>
<!-- <section class="example-section" [formGroup]="Investments">
    {{Investments.value | json}}
</section> -->