.container {
    background-color: #2088d3;
    margin-top: 50px;
    border-radius: 25px;
    padding-bottom: 25px;

}
.addButton{
    padding-top: 10px;
}
.field-container {
    padding-bottom: 10px; /* Adjust the value as needed */
  }
  
  .field-container .col {
    padding-right: 10px; /* Adjust the value as needed */
  }
.investmentFieldGrop{
    margin-top: 10px;
} 
.submit-button{
    justify-content: right;
}