<div>
  <div class="container">
    <div class="form-page">
      <div class="titlepage">
        <h1> Segregated Funds</h1>
      </div>
      <form [formGroup]="FormData" (ngSubmit)="sendSegDataDb()" role="form">
        <hr>
        <div class="mainrow">
          <div class="row section-3">
            <div class="col">
              <label for="date">Date:</label>
              <input type="text" class="form-control" formControlName="segfunds_createdDate" [value]="segData?.currentDate" >
            </div>
            <div class="col">
              <label for="date">Client Name:</label>
              <input type="text" class="form-control" formControlName="segfunds_clientName" [value]="segData?.clientName">
            </div>
            <div class="col">
              <label for="date">Advisor:</label>
              <input type="text" class="form-control" formControlName="segfunds_advisor" [value]="segData?.advisors">
            </div>
          </div>
          <div class="row section-3">
            <div class="col">
              <label for="date">Carrier:</label>
              <input type="text" class="form-control" formControlName="segfunds_carrier" [value]="segData?.carrier">
            </div>
            <div class="col">
              <label for="date">Sales Charge options:</label>
              <input type="text" class="form-control" formControlName="segfunds_salesCharge" [value]="segData!.salescharge">
            </div>
            <!-- <div class="col">
              <label for="date">Investment Percentage:</label>
              <input currencyMask class="form-control" formControlName="segfunds_comissionPercent"
              [options]="{prefix: '', allowNegative: false, allowZero: true, precision: 2, suffix: '%', max:100 }" 
              [value]="segData!.commissionPercent"
               >
            </div> -->
            <div class="col">
              <label for="date">Maturity Date Guarantee:</label>
              <input type="text" class="form-control" formControlName="segfunds_maturityDate" [value]="segData!.maturity">
            </div>
            <div class="col">
              <label for="date">Death Benefit Guarantee:</label>
              <input type="text" class="form-control" formControlName="segfunds_deathBenefit" [value]="segData!.deathPercentage">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="date">Time Horizon:</label>
              <input type="text" class="form-control" formControlName="segfunds_timeHorizon" [value]="segData!.selectedTimeHorizon">
            </div>
            <div class="col">
              <label for="date">Investment Amount:</label>
              <input currencyMask class="form-control" placeholder="Enter Amount"  [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" class="form-control" formControlName="segfunds_investmentAmount" [value]="segData!.amount">
            </div>
            <div class="col">
              <label for="date">Risk Tolerance:</label>
              <input type="text" class="form-control" formControlName="segfunds_riskTolerance" [value]="segData!.risktoleranceSelect">
            </div>
            <div class="col">
              <label for="date">Investment Purpose:</label>
              <input type="text" class="form-control" formControlName="segfunds_investmentPurpose" [value]="segData!.investmentPurpose">
            </div>
            <hr>
          </div>
        </div>
        <p style="font-size: larger; padding-top: 10px;">How would you like to divide up your investment?</p>
        <!-- Update formArrayName to match the name used in your component -->
        <div formArrayName="segfunds_investmentbreakDown">
          <div *ngFor="let data of SendInvestmentBreakdownData(); let i = index">
            <div class="row investmentFieldGroup" [formGroupName]="i" style="padding-top: 15px;">
              <div class="col">
                <select class="form-control" formControlName="investmentOptionfield">
                  <option value="none" selected disabled aria-placeholder="Select One">Select an Option</option>
                  <option *ngFor="let investmentOption of investmentbreakDown">
                    {{investmentOption.value}}
                  </option>
                </select>
              </div>
              <div class="col">
                <input type="text" class="form-control" formControlName="investmentPercentfield" >
              </div>
              <div class="col">
                <button  type="button" mat-raised-button color="warn" (click)="deleteItem(i)">Remove</button>
              </div>
            </div>
          </div>
        </div>
        <div class="addButton">
          <button type="button" mat-raised-button color="primary"  (click)="additem()">Add</button>
        </div>

        <hr>
        <div class="row">
          <div class="example-button-row" role="group" aria-label="Basic example">
            <label>
              <input type="checkbox" ng-model="isAgreed" name="isAgreed"> I agree to the terms and conditions
            </label>
            <button mat-raised-button color="warn" class="back-button">Back</button>
            <button mat-raised-button color="warn" [disabled]="FormData" class="submit-button">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>