<div class="container">
    <div class="main-list">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Segregated Fund</h3>
                        <p class="card-text">A segregated fund or seg fund is a type of investment fund administered by Canadian insurance companies in the form of individual, variable life insurance contracts offering certain guarantees to the policyholder such as reimbursement of capital upon death.</p>
                        <a routerLink="/segregated-fund-list" class="btn btn-primary segfundView">View</a>
                        <a routerLink="/reasons-why-segregated-fund" class="btn btn-primary segfundNew">New</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Placeholder</h3>
                        <p class="card-text">A segregated fund or seg fund is a type of investment fund administered by Canadian insurance companies in the form of individual, variable life insurance contracts offering certain guarantees to the policyholder such as reimbursement of capital upon death.</p>
                        <a routerLink="/reasons-why-segregated-fund" class="btn btn-primary segfundView">View</a>
                        <a routerLink="/reasons-why-segregated-fund" class="btn btn-primary segfundNew">New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>