<div class="container">
    <div class="main-list">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Reasons Why Segregated Fund</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a routerLink="/reasons-why-segregated-fund" class="btn btn-primary">Start</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a routerLink="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>